<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GATEWAY</title>
</head>
<body  style="background-color: #396EB0">
      

      <h1 style="margin-left: 300px; font-size: 80px; color: aliceblue;">UNITY MOVIES</h1>

     <div class="create" style="margin-left: 400px;margin-top: 100px; display: inline-flex;">
      
        <form  action="http://localhost:3000/topmovies">
            <button type="submit" 
            style="
            background-color: #4CAF50; 
            border: none;
           color: white;
           padding: 15px 32px;
           text-align: center;
           text-decoration: none;
           display: inline-block;
           font-size: 16px;
            
            "
            
            >Top Movies</button>
        </form>

        <form  action="http://localhost:3000/allmovies">
            <button type="submit" 
            
            style="
            background-color: #4CAF50; 
            border: none;
           color: white;
           padding: 15px 32px;
           text-align: center;
           text-decoration: none;
           display: inline-block;
           font-size: 16px;
            
            "
            
            >All Movies</button>
        </form>

        <form  action="http://localhost:3000/kidsmovies">
            <button type="submit"  
            
            style="
            background-color: #4CAF50; 
            border: none;
           color: white;
           padding: 15px 32px;
           text-align: center;
           text-decoration: none;
           display: inline-block;
           font-size: 16px;
            
            "
            
            
            
            >Kids Movies</button>
        </form>
       
     </div>
      

      
</body>
</html>
